body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "Kimberley", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.card-content {
  display: flex;
  flex-wrap: nowrap;
}

.renderer {
  flex: 1 1 50%;
  padding-left: 40px;
}

.filters {
  flex: 0 1 50%;
}
